/*=========================================================================================
    File Name: switch.scss
    Description: Switch page styles
    ----------------------------------------------------------------------------------------
    Item Name: Mayor System
  Author: Mohamed Swilam & Hossam Mohamed
  Author URL: http://www.mayor.com/
==========================================================================================*/

.demo-alignment {
    li {
        margin-right: 2rem;
    }

    .vs-switch {
        margin-top: .5rem;
    }
}
